

<nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/equipe">Equipe</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  