

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Équipe - Restaurant</title>
</head>
<body>
    <header>
        <h1>Notre Équipe</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Menu</a>
            <a href="/team">Équipe</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Rencontrez nos membres</h2>
        <ul>
            <li><strong>Chef Principal :</strong> Said</li>
            <img src="said.jpg" alt="">
            <li><strong>Assistant Chef :</strong> Mahamoud</li>
            <img src="chef.jpg" alt="">
            <li><strong>Serveuse :</strong> Sawsane</li>
            <img src="saw.jpg" alt="">
        </ul>
    </main>
</body>
</html>
