

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Équipe - Restaurant</title>
</head>
<body>
    <header>
        <h1>Notre Équipe</h1>
        <nav>
            <%- include('partials/navbar') %>
        </nav>
    </header>
    <main>
        <h2>Rencontrez nos membres</h2>
        <ul>
            <li><strong>Chef Principal :</strong> Said</li>
            <img src="said.jpg" alt="">
            <li><strong>Assistant Chef :</strong> Mahamoud</li>
            <img src="chef.jpg" alt="">
            <li><strong>Serveuse :</strong> Sawsane</li>
            <img src="saw.jpg" alt="">
        </ul>
    </main>


</body>
<%- include('partials/footer') %>
</html>
