

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plat</title>
</head>
<body>
      <form action="/plat" method="post">
        <label for="nomplat">Nom du plat:</label><br>
        <input type="text" name="nomplat" id="nomplat"><br>
        <label for="prixplat">Prix:</label><br>
        <input type="number" id="prix" name="prix"><br><br>
        <input type="submit" value="Enregistrement">

      </form>
</body>
</html>