
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Restaurent Kité</title>
</head>
<body>
        <header>
            <h1>Bienvenue dans notre Restaurant Kité</h1>
            <nav>
                <a href="/">Accueil</a>
                <a href="menu.html">Menu</a>
                <a href="equipe.html">Équipe</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <main>
            <h2>Découvrez nos délicieux plats et notre équipe passionnée !</h2>
            <p>Nous vous offrons une expérience culinaire inoubliable.</p>
            
             
        </main>
    

</body>
</html>